@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration:none;
}

.navbar{
    width:100%;
    transition: all 0.3s ease;
    position:fixed;
    font-family:'Ubuntu',sans-serif;
    padding: 28px 0px;
    z-index:999;
}
.max-width{
    margin:auto;
    padding: 0px 80px;
max-width: 1300px;
}
.navbar .max-width{
    margin:auto;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.navbar.sticky{
    padding:15px 0px;
    background: crimson;
}
.navbar.sticky .logo a span{
    color:white;

}
.navbar .logo a{
    font-size: 30px;
    color:white;
    font-weight: 600;
}
.navbar .logo a span{
    color:crimson;
    transition: all 0.3s ease;
}
.navbar .menu li {
    text-decoration: none;
    display:inline-block;
}
.navbar .menu li a{
    color:white;
    font-size:19px;
    margin-left: 21px;
    font-weight:500;
    transition: color 0.3s ease;
}
.menu-btn{
    color:white;
    font-size:24px;
    cursor: pointer;
    display: none;
}
.navbar .menu li a:hover{
    color:crimson;
}

.home{
    display:flex;
    color:white;
    min-height:500px;
    font-family:'Ubuntu',sans-serif;
    background:url(a.jpg) no-repeat center;  
    height:100vh;
}
.home .max-width{
    margin:auto 0px auto 40px;
}
.home .home-content .text1{
font-size:27px;
}
.home .home-content .text2{
    font-weight:600;
font-size:75px;
margin-left:-4px;
}
.home .home-content .text3{
font-size:40px;
margin: 5px 0px;
}
.home .home-content .text3 span{
    color:crimson;
    font-weight: 500;
}
.home .home-content a{
    display:inline-block;
    background: crimson;
    color:white;
    font-size:25px;
    padding:12px 36px;
    margin-top: 20px;
    border-radius: 10px;
    border:2px solid crimson;
    transition:all 0.3s ease;
}
.home .home-content a:hover{
    color:crimson;
    background: none;
}
/* all similar styling code*/
section{
    padding:100px 0px;
}
section .title{
    font-family: 'Ubuntu',sans-serif;
    text-align: center;
    font-size:38px;
    font-weight:500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position:relative;
} 
section .title::before{
    content:"";
    position:absolute;
    bottom:0px;
    width:180px;
    height:4px;
    left: 50%;
    background: black;
    transform: translateX(-50%);
}
section .title::after{
    position:absolute;
    bottom:-12px;
    font-size:20px;
    left: 50%;
    background: white;
    padding:5px;
    transform: translateX(-50%);
    color:crimson;
}
/*about and Section styling*/

.about, .services{
    font-family: 'Poppins',sans-serif;
}

.about .title::after{
    content:"Who I Am";
}
.about .about-content .left img{
    height:418px;
    width:317px;
    object-fit: cover;
    border-radius:7px;
}
.about .about-content, 
.services .ser-content{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
} 
.about .about-content .left{
    width:45%;
}
.about .about-content .right{
    width:55%;
}
.about .about-content .right .text{
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 10px;
}
.about .about-content .right span{
    color:crimson;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display:inline-block;
    background: crimson;
    color:white;
    font-size:20px;
    font-weight: 500;
    padding:10px 30px;
    margin-top: 20px;
    border-radius: 10px;
    border:2px solid crimson;
    transition:all 0.3s ease;
}
.about .about-content .right a:hover{
    color:crimson;
    background: none;
}
/*Services Section styling*/
.services{
    color:white;
    background: black;
}
.services .title::before{
    background:white;
}
.services .title::after{
    background: black;
    content:"What I Provide";
}
.services .ser-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    padding:20px 25px;
    transition: all 0.3s ease;
}
.services .ser-content .card:hover{
    background: crimson;
}
.services .ser-content .card .box{
    transition: all 0.3s ease;
}
.services .ser-content .card:hover .box{
    transform: scale(1.05);
}
.services .ser-content .card i{
    font-size:50px;
    color:crimson;
    transition: color 0.3s ease;
}
.services .ser-content .card:hover i{
    color: white;
}
.services .ser-content .card .text{
    font-size:25px;
    font-weight:500;
    margin:10px 0 7px 0;
}



/*MEDIA SECTION*/
@media (max-width:1300px){
    .home .max-width{
        margin-left:0px;
    }
}
@media (max-width:1100px){
    .about .about-content .left img{
        height:367px;
        width:300px;
    }
}

@media (max-width:991px){
    .max-width{
        padding: 0px 50px;
    }
}
@media (max-width:950px){
    .max-width{
       
        padding: 0px 50px;
    }
    .menu-btn{
        z-index:999;
        display: block;
    }
    .navbar .menu{
        position: fixed;
        height:100vh;
        width:100%;
        left:-100%;
        top:0;
        background: black;
        text-align:center;
        padding-top:79px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left:0;

    }
    .navbar .menu li{
        display:block;
    }
    .navbar .menu li a{
        display:inline-block;
        margin:20px 0px;
        font-size:25px;
    }
    .menu-btn i.active:before{
        content:"\f00d";
    }
    .home .home-content .text2{  
    font-size:70px;
    }
    .home .home-content .text3{
    font-size:34px;
    }
    .home .home-content a{
        font-size:23px;
        padding:10px 29px;
    }
    .about .about-content .column{
        width:100%;
    }
    .max-width{ 
    max-width: 800px;
    }
    .about .about-content .left{
        display:flex;
        justify-content: center;
        margin:0 auto 60px;
    }
    .about .about-content .right{
        flex:100%;
    }
    .services .ser-content .card{
        width:calc(50% - 10px);
        margin-bottom:20px;
    }
}
@media (max-width:690px){
    .max-width{
        padding: 0px 23px;
    }
    .home .home-content .text2{  
        font-size:60px;
        }
        .home .home-content .text3{
        font-size:32px;
        }
        .home .home-content a{
            font-size:20px;
        }
        .services .ser-content .card{
           width:100%;
        }
}
@media (max-width:500px){
    
    .home .home-content .text2{  
        font-size:50px;
        }
        .home .home-content .text3{
        font-size:27px;
        }
}


    
